---
import config from "@/config/config.json";

const { base_url } = config.site;
const { title, description, slug, className } = Astro.props;
---

<ul class={`${className}`}>
  <li class="inline-block">
    <a
      aria-label="facebook share button"
      href={`https://facebook.com/sharer/sharer.php?u=${base_url}/${slug}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512" fill="currentColor"><path d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.37 50.15 4.37v55.09H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291V478.66c107.1-16.81 189-109.48 189-221.31z"/></svg>
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="twitter share button"
      href={`https://twitter.com/intent/tweet/?text=${title}&amp;url=${base_url}/${slug}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512" fill="currentColor"><path d="M496 109.5a201.8 201.8 0 0 1-56.55 15.3 97.51 97.51 0 0 0 43.33-53.6 197.74 197.74 0 0 1-62.56 23.5A99.14 99.14 0 0 0 348.31 64c-54.42 0-98.46 43.4-98.46 96.9a93.21 93.21 0 0 0 2.54 22.1 280.7 280.7 0 0 1-203-101.3A95.69 95.69 0 0 0 36 130.4C36 164 53.53 193.7 80 210.4a199.23 199.23 0 0 1-44.54-12.6v1.2c0 47.1 34.61 86.3 80.61 95.2a100.76 100.76 0 0 1-25.84 3.2 94.38 94.38 0 0 1-18.51-1.8c12.51 38.5 48.92 66.5 92.05 67.3A199.01 199.01 0 0 1 32 418.2a281.29 281.29 0 0 0 30.69 1.8c75.37 0 142.55-24 192.93-63.6a95.9 95.9 0 0 0 .22-96.4 200.68 200.68 0 0 0 42.09-41.5 97.27 97.27 0 0 0 15.91 1.1 96.23 96.23 0 0 0 39.71-8.4z"/></svg>
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="linkedin share button"
      href={`https://www.linkedin.com/shareArticle?mini=true&url=${base_url}/${slug}&title=${title}&summary=${description}&source=${base_url}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512" fill="currentColor"><path d="M444.17 32H70.28C49.85 32 32 48.5 32 68.89v374.72C32 463.5 49.85 480 70.28 480h373.78c20.54 0 35.94-16.5 35.94-36.39V68.89C480.12 48.5 464.6 32 444.17 32zm-273.3 373.43h-64.18V205.88h64.18zM141 175.54h-.46c-20.54 0-33.84-15.29-33.84-34.43 0-19.49 13.65-34.42 34.65-34.42s33.85 14.82 34.31 34.42c-.01 19.14-13.31 34.43-34.66 34.43zm264.43 229.89h-64.18V296.32c0-26.14-9.34-43.97-32.56-43.97-17.74 0-28.24 12-32.91 23.69-1.75 4.2-2.22 9.92-2.22 15.76v113.63h-64.18V205.88h64.18v27.77c9.34-13.3 23.93-32.44 57.88-32.44 42.13 0 74.01 27.77 74.01 87.64z"/></svg>
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="pinterest share button"
      href={`https://pinterest.com/pin/create/button/?url=${base_url}/${slug}&media=&description=${description}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 512 512" fill="currentColor"><path d="M256.05 32c-123.7 0-224 100.3-224 224 0 91.7 54.91 170.98 134.16 206.08-1.83-16.6-3.4-42.06.68-60.19 3.73-16.56 24.89-105.54 24.89-105.54s-6.35-12.7-6.35-31.52c0-29.56 17.14-51.66 38.44-51.66 18.14 0 26.91 13.63 26.91 29.95 0 18.24-11.62 45.55-17.63 70.86-5.02 21.18 10.62 38.43 31.49 38.43 37.86 0 67.01-39.91 67.01-97.47 0-50.96-36.64-86.61-88.92-86.61-60.55 0-96.09 45.43-96.09 92.38 0 18.3 7.03 37.88 15.82 48.59a6.33 6.33 0 0 1 1.47 6.11c-1.61 6.68-5.2 21.18-5.91 24.14-.94 3.89-3.13 4.71-7.21 2.84-26.93-12.54-43.77-51.9-43.77-83.52 0-67.98 49.38-130.44 142.42-130.44 74.75 0 132.86 53.28 132.86 124.44 0 74.24-46.79 133.93-111.75 133.93-21.82 0-42.35-11.35-49.38-24.72l-13.42 50.09c-4.87 18.72-17.97 42.16-26.79 56.44C224.15 478.07 240 480 256.05 480c123.7 0 224-100.3 224-224S379.75 32 256.05 32z"/></svg>
    </a>
  </li>
</ul>

