---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { Image } from "astro:assets";

import { sortByDate } from "@/lib/utils/sortFunctions";
import { humanize, slugify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import AuthorSingle from "@/partials/AuthorSingle.astro";

export async function getStaticPaths() {
  const authors = await getSinglePage("authors");

  const paths = authors.map((author) => ({
    params: {
      single: author.id,
    },
    props: { author },
  }));
  return paths;
}

const { author } = Astro.props;
const { title, meta_title, description, image } = author.data;

// Author Posts
const posts = await getSinglePage("posts");
const sortPostsByDate: CollectionEntry<"posts">[] = sortByDate(posts);
const currentPosts = sortPostsByDate.filter((post) => {
  return post.data.authors
    .map((author) => slugify(author))
    .includes(slugify(title));
});
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <AuthorSingle author={author} />

  {
    currentPosts.length > 0 && (
      <section class="section pt-0">
        <div class="container">
          <h2 class="mb-8 text-center h3">Recent Posts</h2>
          <div
            class={`row gy-4 ${currentPosts.length < 3 ? "justify-center" : ""}`}
          >
            {currentPosts.map((post) => (
              <div class="col-12 sm:col-6 lg:col-4">
                {post.data.image && (
                  <a
                    href={`/${post.id}`}
                    class="rounded-lg block hover:text-primary overflow-hidden group"
                  >
                    <Image
                      class="group-hover:scale-[1.05] transition duration-300 w-full"
                      src={post.data.image}
                      alt={post.data.title}
                      width={445}
                      height={230}
                    />
                  </a>
                )}
                <ul class="mt-4 text-text flex flex-wrap items-center text-sm">
                  <li class="mb-2 mr-4 flex items-center flex-wrap font-medium">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-1" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor"><path d="M20 3h-1V1h-2v2H7V1H5v2H4C2.9 3 2 3.9 2 5v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/><path d="m9.08 16.17 1.41 1.41 4.59-4.58-1.41-1.42z"/></svg>{dateFormat(post.data.date!)}
                  </li>
                  <li class="mb-2 mr-4 flex items-center flex-wrap">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline mr-1" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor"><path d="M3 3h8v8H3zm10 0h8v8h-8zM3 13h8v8H3zm13 0h2v3h3v2h-3v3h-2v-3h-3v-2h3z"/></svg><ul>
                      {post.data.categories.map((category, i: number) => (
                        <li class="inline-block">
                          <a
                            href={`/categories/${slugify(category)}`}
                            class="mr-2 hover:text-primary font-medium"
                          >
                            {humanize(category)}
                            {i !== post.data.categories.length - 1 && ","}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </li>
                </ul>
                <h3 class="h5">
                  <a
                    href={`/${post.id}`}
                    class="block hover:text-primary transition duration-300"
                  >
                    {post.data.title}
                  </a>
                </h3>
              </div>
            ))}
          </div>
        </div>
      </section>
    )
  }
</Base>
