---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const entry = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;
const { contact_form_action } = config.params;
const { title, description, meta_title, image } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <h1 set:html={markdownify(title)} class="h2 page-heading text-center" />
      <div class="row justify-center mt-12">
        <div class="lg:col-8">
          <div class="p-8 md:p-12 bg-white rounded-xl border border-border shadow-sm">
            <p class="mb-8 text-lg text-text text-center">
              ご質問やご依頼など、お気軽にお問い合わせください。
            </p>
            <form
              class="contact-form row gy-4"
              method="POST"
              action={contact_form_action}
            >
              <div class="md:col-6">
                <label class="mb-2 block font-semibold" for="name"
                  >お名前 <span class="text-red-600">*</span></label
                >
                <input
                  class="form-input w-full"
                  name="name"
                  type="text"
                  placeholder="山田 太郎"
                  required
                />
              </div>
              <div class="md:col-6">
                <label class="mb-2 block font-semibold" for="email"
                  >メールアドレス <span class="text-red-600">*</span></label
                >
                <input
                  class="form-input w-full"
                  name="email"
                  type="email"
                  placeholder="example@mail.com"
                  required
                />
              </div>
              <div class="col-12">
                <label class="mb-2 block font-semibold" for="subject">件名</label>
                <input 
                  class="form-input w-full" 
                  name="subject" 
                  type="text" 
                  placeholder="お問い合わせ内容の件名"
                />
              </div>
              <div class="col-12">
                <label class="mb-2 block font-semibold" for="message"
                  >メッセージ内容 <span class="text-red-600">*</span></label
                >
                <textarea 
                  class="form-textarea w-full" 
                  rows="6" 
                  placeholder="こちらにお問い合わせ内容をご記入ください。"
                  required
                ></textarea>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-primary px-10 py-3 mt-4">送信する</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
